<h1>Bem vindo(a), {{nome}}</h1>

<div class="rounded">
    Obrigado por se cadastrar no <strong>Studylive</strong><br>
    Agora você poderá assistir suas aulas quando e onde quiser.<br>
    Nosso time de professores está esperando pela sua primeira aula!<br>
</div>

<h1>Ativação de Cadastro</h1>

<p>Clique no link abaixo para confirmar seu cadastro:</p>

<a href="{{link}}" target="_blank">
    Confirmar meu cadastro
</a>
